
.asset-list-wrapper {
  width: 100%;
}

.asset-list {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.loader {
  color: #fff;
  display: block;
  margin: .5rem auto;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}

@media only screen and (max-width: 1920px) {
  .asset-list {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1536px) {
  .asset-list {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1280px) {
  .asset-list {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1024px) {
  .asset-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .asset-list {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 640px) {
  .asset-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
