.banner-wrapper {
  display: flex;
  position: relative;
  background-color: #1d1e1f;
}

.banner {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
  object-fit: contain;
  margin: 1rem;
  overflow: hidden;
  boxs-hadow: 0px 5px 10px #000;
  vertical-align: middle;
}

.download-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem .5rem;
}

.download-btn {
  text-decoration: none;
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font: 400 13.3333px Arial;
}
